## Pandas Series

### First Steps

In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic = pd.read_csv("titanic.csv")

In [4]:
titanic.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [5]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  891 non-null    int64
 1   pclass    891 non-null    int64
 2   sex       891 non-null    object
 3   age       714 non-null    float64
 4   sibsp     891 non-null    int64
 5   parch     891 non-null    int64
 6   fare      891 non-null    float64
 7   embarked  889 non-null    object
 8   deck      203 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 62.8+ KB

In [8]:
titanic["age"]

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [9]:
type(titanic["age"])

pandas.core.series.Series

In [10]:
titanic["age"].equals(titanic.age)

True

In [11]:
age = titanic["age"] #age is now a panda series

In [14]:
age.head(n= 2) #head() works with panda series

0    22.0
1    38.0
Name: age, dtype: float64

In [15]:
age.dtype

dtype('float64')

In [17]:
age.info() #doesn't work

AttributeError: 'Series' object has no attribute 'info'

In [18]:
age.shape

(891,)

In [19]:
len(age)

891

In [20]:
age.index

RangeIndex(start=0, stop=891, step=1)

In [21]:
age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: age, dtype: float64

### Analysing Numerical Series