# 1. Numpy package

## 1.1 numpy array basics

In [1]:
import numpy as np

In [2]:
l  = list(range(1,11))
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
my_array = np.array(l) #transform array to numpy array (ndarray)
print(my_array)

[ 1  2  3  4  5  6  7  8  9 10]

In [7]:
type(my_array)

numpy.ndarray

In [8]:
for i in my_array:    # can be iterated like lists
    print(i)

1
2
3
4
5
6
7
8
9
10

### in arrays, all elements must have same data types unlike lists.

In [9]:
l = [1,2.5,"Dog", True]
l

[1, 2.5, 'Dog', True]

In [11]:
new_array = np.array(l)
print(new_array)   #all are converted to string

['1' '2.5' 'Dog' 'True']

In [13]:
for i in new_array:  #checking the type, which is string
    print(type(i))

<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>
<class 'numpy.str_'>

In [20]:
b = np.array([1.,2,"3"])
b

array(['1.0', '2', '3'], dtype='<U32')

In [21]:
type(b)

numpy.ndarray

In [22]:
b.dtype #can check single datatype of all elements

dtype('<U32')

## 1.2 numpy array( element wise operations / vectorisation)

In [23]:
import numpy as np

In [25]:
np.arange(1,11) #create ndarray from 1 to 10

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [28]:
np.arange(1,11,2) #every second no. from 1 to 10

array([1, 3, 5, 7, 9])

### differences b/w lists and ndarrays

In [29]:
l = [1,2,3,4]
l

[1, 2, 3, 4]

In [30]:
l*2  #not an element wise operation

[1, 2, 3, 4, 1, 2, 3, 4]

In [32]:
l1 = []  #element wise operation requires alot of code
for i in l:
    l1.append(i*2)
l1

[2, 4, 6, 8]

In [33]:
l+2 #not an element wise operation and doesn't work at all :(

TypeError: can only concatenate list (not "int") to list